@keyframes ShowBottom1 {
    0%{
        top: 120%;
    }
}

@keyframes ShowBottom1Reserved {
    100%{
        top: 120%;
    }
}

@keyframes gradShow {
    0%{
        opacity: 0.15;
    }
    30%{
        opacity: 0.3;
    }
    70%{
        opacity: 0.65;
    }
}