efb-navbar-bottom{
    .van-tabbar{
        background-color: var(--global-background-color);
        color: #fff !important;
    }
    .van-tabbar-item{
        color: #fff;
        transition-duration: 0.2s;
    }
    .van-tabbar-item--active{
        background-color: var(--global-background-lighter);
    }
    .van-tabbar-item--active{
        color: var(--van-tabbar-item-active-color);
    }
    .van-tabbar-item__text{
        text-align: center;
        line-height: 16px;
        font-size: 13px;
        font-weight: light;
        svg path, svg circle{
            stroke-width: 3;
        }
    }
}

.van-floating-panel.van-safe-area-bottom[bottom-collapse]{
    bottom: 45px;
    z-index: 98;
}

.van-floating-panel__header-bar{
    width: 40px;
}
van-floating-panel__header{
    height: 30px !important;
}

.efb-float-bottom .van-search{
    background-color: var(--global-background-color);
    padding-top: 0;
    padding-bottom: 0;
    .van-search__content{
        background-color: var(--model-input-background);
        border-radius: 10px !important;
    }
}


@media (max-width: 700px){
    efb-theme-choice-model{
        efb-choice-core{
            width: 90% !important;
        }
        .title-area .title{
            font-size: 16px !important;
        }
        .selections-wrapper .selections{
            justify-content: space-around !important;
        }
        .selections-wrapper .selections .selections-item{
            width: 98px !important;
            margin: 2px 6px !important;
            height: 90px !important;
            img.pre-img{
                width: 80px !important;
                border-radius: 2px !important;
            }
            .text-a1{
                font-size: 13px !important;
            }
            .text-a2{
                font-size: 11px !important;
            }
        }
    }
}