efb-navbar-bottom{
    .van-tabbar{
        background-color: var(--global-background-color);
        color: #fff !important;
    }
    .van-tabbar-item{
        color: #fff;
        transition-duration: 0.2s;
    }
    .van-tabbar-item--active{
        background-color: var(--global-background-lighter);
    }
    .van-tabbar-item--active{
        color: var(--van-tabbar-item-active-color);
    }
    .van-tabbar-item__text{
        text-align: center;
        line-height: 16px;
        font-size: 13px;
        font-weight: light;
        svg path, svg circle{
            stroke-width: 3;
        }
    }
}